body {
  background-color: #f2edeb;
}

.Form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.Labels {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  color: #3e6649;
}

input {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
}

button {
  background-color: #3e6649;
  color: white;
  font-size: 18px;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.Form input {
  margin-bottom: 30px;
  padding: 10px 5px;
}

.Header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px 25px;
}

.Header nav a {
  color: #3e6649;
  cursor: pointer;
  font-size: 15px;
  margin: 0 10px;
  padding: 2px 10px;
  text-decoration: none;
}

.Header nav a:hover {
  text-decoration: underline;
}

.Logo {
  font-size: 80px;
  font-family: "Libre Baskerville", serif;
  font-weight: bold;
}

.Moto {
  font-family: "Questrial", sans-serif;
  font-size: 18px;
}

.Green {
  color: #3e6649;
}

.Pink {
  color: #e3c1c5;
}

.Red {
  color: #ed6d66;
}

.Yellow {
  color: #e0bf16;
}

.Subtitles {
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: "Questrial", sans-serif;
  font-weight: bold;
}

.PageWrapper {
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
}

.UserProfilePageWrapper {
  display: flex;
  flex-direction: row;
  padding: 0 25px;
  margin: 0 auto;
  max-width: 1200px;
}

.UserProfileSection1 {
  margin-left: 50px;
}

.UserProfileSection2 {
  display: flex;
  flex-direction: column;
}

.ProfileCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 40px;
}

.ProfileCard2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  padding: 40px;
  width: 600px;
}

.ProfileStatsMargins {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.NavLinksMargins {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.ProfileImage {
  background-color: #3e6649;
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

.RecipeCardWrapper {
  background-color: white;
  max-width: 20%;
  padding: 40px;
}

.RecipeImage {
  width: 100%;
}
