.Form form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.Form input {
  margin-bottom: 30px;
  padding: 10px 5px;
}

.logo {
  font-size: 20px;
}

.Green {
  color: #3e6649;
}

.Pink {
  color: #e3c1c5;
}

.Red {
  color: #ed6d66;
}

.Yellow {
  color: #e8e65a;
}

.font-link {
  font-family: "Libre Baskerville", serif;
}
